// //////////////////////////////
// @@ FOOTER
// /////////////////////////////

.footer {
  background-color: $grey;
  color: $white;


  &__wrap {
    min-height: 10rem;
    padding: 2rem 0;
  }

  &__content {
    grid-area: content;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'one'
      'two';

    @include respond(tablet) {
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      grid-template-areas: 
        'one two';
    }
    
  }

  &__one {
    grid-area: one;
    margin: 2rem 0;

    display: flex;
    align-self: start;
  }

  &__two {
    grid-area: two;

  }

  &__bottom-wrap {
    grid-area: content;
    padding: 2rem 0;
    border-top: solid 1px $black;
    font-size: 1.2rem;
  }
}