// //////////////////////////////
// @@ HEADER-TOP AND HEADER 
// /////////////////////////////

.header-top {
  background-color: $blue;
  color: $white;

  &__wrap {    
  }

  &__content {
    grid-area: content;
    padding: 1rem 0;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }

  &__mail {

  }

  &__phone {

  }
  
}






.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    'logo'
    'cta';

  &__logo {
    grid-area: logo;
    padding: 2rem;

    width: 50vw;
  }

  &__bcg-img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    z-index: -999;

  }

  &__cta {
    grid-area: cta;
    align-self: end;
    justify-self: end;

    padding: 3rem;
  }

}